@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


*{
    font-family: "gillory", sans-serif;
}

.sp-text{
    background-image: conic-gradient(at top, #c084fc, #6d28d9);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

